.ipynb_checkpoints
.venv
.env
*.ipynb
.idea
.vscode
.idea*
*__pycache__
logs
uwsgi.ini
uwsgi_params.conf
*.log
media
static
run.py
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
dump.rdb
